body{
    background-color:#EAEFD3 ;
    margin: 0px;
}
*{
   box-sizing: border-box; 
}
header{
    background-color:#C8B281;
    color: white;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-top: 20px;
    padding: 1px;
    font-size: xx-large;
    width: 45%;
    font-family: 標楷體;
    text-align: center;
    text-shadow: 5px 7px 2px gray;
    font-style: italic;
}
article{
float: left;
width: 50%;
text-align: center;
}
section{
background-color: #DFD5A5;
border-radius: 20px;
margin-left: 100px;
margin-bottom: 50px;
margin-top: 50px;
padding: 5px;
border-width: 3px;
border-style: solid;
border-color: #B3C0A4;
height: 370px;
width: 90%;


}
aside{
    float: right;
    width: 45%;
    background-color:#CFD8BC ;
    padding: 20px;
    position: relative;
    bottom: 120px;
    text-align: center;
}



.www{
    border-radius: 0%;
    background-color:#FFF6ED ;
    margin-left: 40px;
}
.container{
    position: relative;
    bottom:13px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns:22% 28% 22% 28%;
}

.nnn{
    background-color:white;
    border-radius: 18px;
    font-family: 微軟正黑體;
    height: 100px;
    
    width: 200px;
}
.ttt{
    background-color: white;
    padding: 3px;
    text-decoration: underline;
}
.qqq{
    font-size: 20px;
   
}

.skill {
  margin: 20px;
  
}

.bar {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  
}

.level {
  height: 100%;
  background: #B3C0A4;
}

.aaa{
    text-decoration: underline;
}
img{
    float: left;
    margin: 1px 25px;
}



